fastapi
uvicorn
langchain
langchain-groq
langgraph
sqlalchemy
pydantic-settings
python-dotenv
langchain-community
chromadb
sentence-transformers
requests
python-multipart
Pillow
openai-whisper
gtts
pydub
